/* MOBILE WIDTH 600PX */
/* MOBILE WIDTH 600PX *//* MOBILE WIDTH 600PX */
/* MOBILE WIDTH 600PX AND BELOW*/
@media screen and (max-width: 769px ){

    .intro img {
        height: 50%;
        width: 45%;
        transform: translatey(6.5rem);
    }

    header .logo {
        height: 35px;
    }

    header .btn {
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
        padding: 8px 16px;
        /* padding: 1rem 2rem; */
    }
    
    
    

    .intro h1 {
        font-size: 40px;
        /* font-size: 5rem; */
        font-weight: 600;
        line-height: 1;
        padding-bottom: 20px;
    }

    nav ul li a {
        font-size: 16px;
        font-weight: 500;
        margin: 0 5px;
    }
    
    .consult {
        flex-direction: column;
        gap: 30px;
    }

    .consult-text{
        width: 80%;
        text-align: left;
        /* border: 1px solid red; */
    }

    .consult-image {
        width: 100%;
    }

    .consult-image img {
        width: 100%;
    }    

    .product {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .intro {
        height: 80vh;
    }

    .intro .img-box {
        padding-top: 0px;

        width: 90%;
        height: 50%;
        object-fit: cover;
        margin: 0 auto;


    }

    .intro img {
        height: 100%;
        width: 100%;
    }
    

 
    

}

@media screen and (max-width: 600px ){
    header img {
        margin-bottom: 5px;
    }
    
    .cta-btn {
        display: none;
    }

    .cta {
        display: block;
    }

    nav {
        display: block;
        text-align: center;
    }

    nav ul {
        justify-content: center;
        border-bottom: 2px solid white;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px;
        border-radius: 3px 3px 0 0;
        width:90%;
        margin: 0 auto;
    }

    nav ul li a{
        font-size: 20px;
    }

  

    .consult {
        flex-direction: column-reverse;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .consult-image {
        width: 100%;
        /* border: 1px solid red; */
    }
    



   


}

@media screen and (max-width: 426px ){
    /* header img {
        height: 45px;
    } */
    nav ul li a{
        font-size: 17px;
    }

    nav ul {
        width: 90%;
        margin: 0 auto;
    }

    .consult {
        flex-direction: column-reverse;
        gap: 5px;
        padding-top: 20px;
    }

    .product {
        padding-top: 50px;
    }

    .product .phone {
        width: 380px;
        height: 400px;
        /* transform: translateY(-35px); */
    }

    .intro {
        height: 70vh;
    }

    .intro .img-box {
        padding-top: 0px;
        width: 90%;
        height: 50%;
        object-fit: cover;
        margin: 0 auto;


    }

    .intro img {
        height: 100%;
        width: 100%;
    }
    



}

@media screen and (max-width: 375px ){
    nav ul {
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
        font-weight: 400;
    }
}

@media screen and (max-width: 321px ){
    nav ul {
        width: 100%;
        margin: 0 auto;
    }
}





